<image-gallery data-id="{{ block.id }}" index-data={{block.index}}>
  <div id="instafeed_m" class="cx-main-container"></div> 
</image-gallery>

{% schema %}
  {
    "name": "Image Gallery",
    "target": "section",
    "stylesheet": "image-gallery.css",
    "javascript": "image-gallery.js",
    "templates": ["product", "index"],
    "settings": [
     
    ]
  }
{% endschema %}
